.Board-background {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Board {
  width: 340px;
  display: flex;
  flex-flow: row wrap;
}

.Board-buttons {
  width: 330px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
